---
import AdminLayout from '../../../layouts/AdminLayout.astro';
---

<AdminLayout title="Manage Products">
  <section class="section">
      <div class="container" id="app"></div>
    </section>
    <script>
      import { createApp } from 'vue';
      import ProductList from './ProductList.vue';

      createApp(ProductList).mount('#app');
    </script>
</AdminLayout>

