---
import AdminLayout from '../../../layouts/AdminLayout.astro';
import { createProduct } from '../../../lib/products';

if (Astro.request.method === "POST") {
  try {
    const formData = await Astro.request.formData();
    const productData = Object.fromEntries(formData);
    
    productData.price = parseFloat(productData.price);
    productData.is_available = formData.get('is_available') === 'on';

    const imageFile = formData.get('image');
    if (imageFile instanceof File) {
      
      const arrayBuffer = await imageFile.arrayBuffer();
      const buffer = Buffer.from(arrayBuffer);
      imageFile.buffer = buffer;
    }

    await createProduct(productData, imageFile);
    return Astro.redirect('/admin/products');
  } catch (error) {
    console.error('Failed to create product:', error);
    // You might want to set an error message here to display to the user
  }
}

// if (Astro.request.method === "GET") {
//   if (!Astro.cookies.get('isAdminLoggedIn').boolean()) {
//     return Astro.redirect('/admin/login');
//   }
// }
---

<AdminLayout title="Add New Product">
  <div class="container">
    <h1 class="title">Add New Product</h1>
    <form method="POST" enctype="multipart/form-data">
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text" name="name" required>
        </div>
      </div>
      <div class="field">
        <label class="label">Description</label>
        <div class="control">
          <textarea class="textarea" name="description"></textarea>
        </div>
      </div>
      <div class="field">
        <label class="label">Price</label>
        <div class="control">
          <input class="input" type="number" step="0.01" name="price" required>
        </div>
      </div>
      <div class="field">
        <label class="label">Category</label>
        <div class="control">
          <div class="select">
            <select name="category" required>
              <option value="appetizers">Appetizers</option>
              <option value="main-courses">Main Courses</option>
              <option value="desserts">Desserts</option>
              <option value="drinks">Drinks</option>
            </select>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Image</label>
        <div class="control">
          <input class="input" type="file" name="image" accept="image/*">
        </div>
      </div>
      <div class="field">
        <label class="label">Is Available</label>
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" name="is_available" checked>
            Product is available
          </label>
        </div>
      </div>
      
      <div class="field">
        <div class="control">
          <button type="submit" class="button is-primary">Add Product</button>
        </div>
      </div>
    </form>
  </div>
</AdminLayout>