---
import '../styles/custom.scss';

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} - Admin</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-menu">
        <a class="navbar-item" href="/admin/dashboard">
          Admin Dashboard
        </a>
        <a class="navbar-item" href="/admin/products">
            Products
          </a>
          <a class="navbar-item" href="/admin/orders">
            Orders
          </a>
          <!-- <a class="navbar-item" id="logout-button">
            Logout
          </a> -->
      </div>
    </nav>
    <section class="section">
      <div class="container">
        <slot />
      </div>
    </section>
  </body>
</html>